//////////////////////////////////////////////

@use 'vars';
@use 'animations';

// FONTS //
@font-face {
  font-family: 'Quicksand';
  src: url('../../src/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Feonie Italic';
  src: url('../../src/fonts/feonie-italic.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Feonie';
  src: url('../../src/fonts/feonie.otf') format('opentype');
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

//////////////////////////////////////////////

// MIXINS //

@mixin headings() {
  font-family: vars.$font-heading;
  font-weight: 400;
  text-transform: uppercase;
  color: vars.$off-white;
  text-shadow: 1px 1px 1px black;
}

@mixin headings-menu() {
  width: fit-content;
  font-family: vars.$font-heading;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

@mixin headings-menu-subtitle() {
  width: fit-content;
  height: fit-content;
  padding: 0 0.1em;
  font-family: vars.$font-heading-italic;
  text-transform: uppercase;
}

@mixin section() {
  // width: 100%;
  width: calc(100% - 80px);
  min-height: 100vh;
  background: vars.$off-white;
}

//////////////////////////////////////////////

// GLOBAL //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: vars.$font-primary;
  background: vars.$off-white;
  overflow-x: hidden;
}
p {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: justify;
}

//////////////////////////////////////////////
// NAVBAR //

nav {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 80px;
  height: 100%;
  padding: 12em 0;
  background: vars.$off-white-op;
  box-shadow: -1px 0 10px rgb(36, 36, 36);
  z-index: 1000;

  button {
    scale: 0.8;
    background: none;
    border: none;
    cursor: pointer;
    img {
      opacity: 0.55;
    }
  }
  button:hover {
    scale: 1;
    transition: 0.3s;
  }
}
nav:hover {
  padding-right: 1em;
  background: rgba(236, 240, 241, 0.65);
  transition: 0.3s;
}

//////////////////////////////////////////////

// HOME //
#home {
  @include section();
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100em;
  background-image: url('../img/photos/lorem-background.jpg');
  background-size: cover;
  background-position: center;

  h1 {
    @include headings;
    font-size: clamp(1rem, 20vw, 25rem);
  }
  .sub-heading {
    @include headings;
    margin-bottom: -0.15em;
    font-size: 3.5rem;
  }
  .chevron-scroll-down {
    position: absolute;
    bottom: 10%;
    padding: 0.2em;
  }
  .chevron-scroll-down:hover {
    background: vars.$off-white-op-low;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgb(152, 152, 152);
    transition: 0.5s;
    animation: levitate 2s ease-in-out infinite;
    cursor: pointer;
  }
}

//////////////////////////////////////////////

// ABOUT //
#about {
  @include section();
  display: flex;
  gap: 2em;

  // LEFT SIDE (text) //
  .about__text {
    position: relative;
    min-width: 45vw;
    padding: 7em 0;
    // padding: 7em 16em;

    h2 {
      margin-left: 10vw;
      margin-bottom: 5vh;
      font-family: vars.$font-heading;
      font-size: 6rem;
      text-decoration: none;
      text-transform: uppercase;
    }

    .about__divider {
      position: relative;
      width: 100%;
      height: 0;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 25vw;
        border-top: 2px solid vars.$rose-op;
      }
    }

    .paragraph-container {
      position: relative;
      margin: 12vh 10vw 0 12vw;
      padding-right: 4vw;
      border-right: 1px solid vars.$sand-dark-op;
      z-index: 20;
    }

    .about__cube {
      position: absolute;
      bottom: 8.5%;
      left: 17%;
      width: 20%;
      height: 27%;
      background-color: vars.$sand;
      z-index: 1;
    }
  }

  // RIGHT SIDE (image)
  .about__pictures {
    min-width: 55vw;
    padding-top: 6vw;
    padding-right: 5vw;

    .about__img-1 {
      width: 85%;
      min-width: 85%;
    }
  }
}

//////////////////////////////////////////////

// PICTURES //
#slideshow {
  @include section();
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background: vars.$sand-op-low;

  .pictures-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin-bottom: 1em;

    img {
      width: 27%;
      padding: 1% 0;
      z-index: 2;
      transition: transform 0.5s ease;
    }
  }

  .pictures__stripe {
    position: absolute;
    width: 82%;
    height: 7%;
    margin: auto;
    background: vars.$sand-dark;
    z-index: 1;
    opacity: 0.5;
  }

  ul {
    position: absolute;
    bottom: 15%;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding: 1em 1.5em;
    list-style: none;
    border-top: 1px solid vars.$sand;

    .dot-icon {
      transform: scale(0.8);
      opacity: 0.65;
      transition: transform 0.3s ease;
    }

    .dot-icon:hover {
      transform: scale(1);
      opacity: 0.9;
      cursor: pointer;
    }
    .dot-active {
      transform: scale(1);
      opacity: 0.9;
      cursor: pointer;
    }
  }
}

//////////////////////////////////////////////

// MENU //
#menu {
  @include section();
  position: relative;
  display: flex;
  align-items: center;
  min-width: 100vh;
  background: vars.$off-white;

  // BACKGROUND (rectangle)
  .menu-background {
    position: absolute;
    width: 100%;
    height: 35%;
    background: vars.$sand-op-low;
  }

  // LEFT SIDE (big menu card)
  .menu-wrapper {
    position: relative;
    display: flex;
    width: 40%;
    min-width: 40%;
    height: auto;
    min-height: 90vh;
    margin-left: 7%;
    padding: 3em 2em;
    background: vars.$sand-dark-op;
    z-index: 1;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    height: auto;
    min-height: 55vh;
    padding: 5% 2%;
    background: vars.$off-white;

    .menu__header {
      display: flex;
      align-items: center;
      height: fit-content;
      margin-bottom: 1em;

      .menu__title {
        @include headings-menu();
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: 0 2em 0 1em;
        padding-top: 0.5em;
        font-family: vars.$font-heading;
        border-top: 2.5px solid vars.$rose-op-xlow;
        border-bottom: 2.5px solid vars.$rose-op-xlow;

        .menu__title-category {
          @include headings-menu();
          font-size: 2rem;
          font-size: clamp(2rem, 1vw, 1rem);
        }

        .menu__title-heading {
          font-size: clamp(4.5rem, 1vw, 2.5rem);
        }
      }

      .menu__description {
        margin-right: 1em;
        padding: 0 1em 1em 0.1em;
        font-size: 1rem;
      }
    }

    .menu__content {
      height: 100%;
      display: flex;
      justify-content: center;

      .menu__slip {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 1.2em 1em;
        border: 0.3em solid vars.$rose-op-xlow;
        overflow-y: scroll;
        scrollbar-color: vars.$sand-dark-op vars.$sand-op-low;

        .menu__slip-heading {
          @include headings-menu-subtitle();
          margin: 0.1em 0.5em;
          padding: 0.1em;
          font-size: 1.6rem;
          background: vars.$rose-op-xlow;
          border-bottom: 0.1em solid vars.$rose-op-xlow;
        }
      }
      .menu__slip-divider {
        width: 0.1em;
        height: 100%;
        margin: 0.1em 0.5em;
      }
    }
  }

  // RIGHT SIDE (MENU PREVIEW)
  .dish-preview-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 50%;
    height: fit-content;
    margin-left: -7em;
    padding: 3% 0;
    border-right: 3em solid vars.$sand-dark-op;

    .dish-preview-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.1em;
      width: 35%;
      height: 100%;
      padding: 1em 0 1.5em 0;

      .dish-preview__rectangle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin-left: 60%;
        background: vars.$off-white-op;
        border-right: none;
        z-index: 0;
      }

      .dish-preview__price {
        margin: 0 0.5em 0.4em 0;
        font-style: italic;
        font-size: 1.4rem;
        z-index: 10;
      }

      .dish-preview__text-container {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.5em;
        width: 75%;
        margin-right: -2em;
      }

      .dish-preview__name {
        @include headings-menu-subtitle();
        position: relative;
        font-size: 3rem;
        background: vars.$rose-xlow;
        border-bottom: 0.1em solid vars.$rose-op-xlow;
        z-index: 10;
      }

      .dish-preview__description {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0.5em;
        font-size: 1em;
        text-align: left;
        font-style: italic;
        background: vars.$off-white;
        box-shadow: -3px 3px 0 vars.$rose-op-xlow;
        z-index: 10;
      }
    }

    .dish-preview__img {
      position: relative;
      width: 65%;
      margin-right: -10em;
      z-index: 5;

      img {
        width: 100%;
      }
    }
  }

  /////////////////////////////////////////////////////////////////
  // RIGHT SIDE (small menu card)
  .menu-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0.5em;
    display: none;
  }
  // MENU CARD
  .menu-card {
    width: 22vw;
    height: fit-content;
    max-height: 70vh;
    padding: 3em 2em;
    border: 1em solid vars.$rose-op-low;
    overflow-x: auto;
    scrollbar-color: vars.$sand-dark-op vars.$sand-op-low;
  }

  .menu-card__title {
    @include headings-menu();
    margin: auto;
    margin-bottom: 0.5em;
    padding: 0.4em 0;
    font-size: 2.5rem;
    text-align: center;
    border-top: 2.5px solid vars.$sand;
    border-bottom: 2.5px solid vars.$sand;
  }

  // MENU ITEM
  .menu-card__item {
    padding: 0.9em 0.5em;
    border-bottom: 2px dotted vars.$sand;

    .menu-card__item-title--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 0.5em;
      padding-bottom: -10em;

      .menu-card__item-title {
        margin-bottom: 0.5em;
        font-size: 1.2rem;
      }

      .menu-card__item-price {
        font-style: italic;
        border-bottom: 1px solid vars.$sand;
      }
    }

    .menu-card__item-description {
      display: block;
      padding-left: 0.5em;
      font-size: 1rem;
      text-decoration: italic;
    }
  }
  .menu-card__item:hover {
    background: vars.$rose-op-xlow;
    border-bottom: 2px dotted vars.$sand;
    transition: background 0.3s ease;
    cursor: pointer;
  }
  .menu-card__item:active {
    background: vars.$sand-op;
  }

  // OTHER MENUS BUTTON
  .other-menus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 1.5em 2em;
    padding: 0.2em;
    background: vars.$sand;
    cursor: pointer;

    .other-menus__btn {
      @include headings-menu-subtitle();
      margin-right: 0.2em;
      font-size: 1.5rem;
      border: none;
      background: none;
      cursor: inherit;
    }

    .other-menus__arrow-right {
      fill: black;
      cursor: inherit;
    }
  }
  .other-menus-container:hover {
    box-shadow: -2px 2px 0 vars.$rose-op;
    transition: box-shadow 0.3s ease;
  }
  .other-menus-container:active {
    transform: scale(0.97);
    transition: transform 0.27s ease;
  }
}

//////////////////////////////////////////////

// CONTACT //
#contact {
  @include section();
  display: flex;
  gap: 1em;
  padding: 5% 10% 0;
  padding-right: none;
  background: vars.$sand-op-xlow;

  // BG
  .contact-image {
    width: 50%;
    min-width: 50%;
    height: 100vh;
    min-height: 100vh;
    background: url('../../public/img/photos/contact-bg.jpg');
  }

  .contact-wrapper {
    width: 50%;
    min-width: fit-content;
    padding: 10% 0 0 2%;

    .contact-heading {
      @include headings-menu();
      padding-bottom: 3%;
      font-size: 5rem;
    }
    .contact-info {
      display: flex;
      min-width: fit-content;
      height: fit-content;
      min-height: 60%;
      margin-left: -40%;
      padding: 2em;
      background: vars.$off-white;
      border: 1em solid vars.$sand;

      #map {
        width: 50%;
        min-width: 50%;
        height: 100%;
        min-height: 40vh;
        border: 2px solid vars.$sand-op-low;
      }
    }

    .contact-info--section {
      display: flex;
      width: 50%;
      max-width: 50%;
      height: 100%;
      min-height: 40vh;
      padding: 1em 2em;
    }

    .contact-info__table {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 1.2em;
      width: 50%;

      .contact-info__table-row {
        display: flex;
        margin-bottom: 0.5em;

        .contact-info__table-label {
          min-width: 33%;
          max-width: 33%;
          height: fit-content;
          margin-right: 0.5em;
          padding: 0.2em;
          font-size: 1.3rem;
          background: vars.$sand-op-low;
        }
        .contact-info__table-data-wrapper {
          min-width: 66%;
          max-width: 66%;
          display: flex;
          flex-direction: column;
          padding: 0.5em;
          border: 2px solid vars.$sand-op-low;
        }
        .contact-info__table-data {
          padding: 0.3em 0;
          font-style: italic;
          font-size: 1rem;
        }
      }
    }
  }
}

//////////////////////////////////////////////

// FOOTER //
footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: 30vh;
  min-height: 30vh;
  padding: 3em;
  background: vars.$sand-dark;

  .footer__container {
    display: flex;
    gap: 3em;
  }

  .footer-section {
    width: 15%;
  }
}

//////////////////////////////////////////////

// HELPER CLASSES //
.scale-zero {
  transform: scale(0);
  opacity: 0;
}
.hidden {
  display: none;
}
.zero-opacity {
  opacity: 0;
}
.blur {
  transition: filter 0.3s ease;
}
.minimize {
  animation: minimize 0.4s ease 1 forwards;
}
.maximize {
  animation: maximize 0.4s ease 1 forwards;
}

//////////////////////////////////////////////

// PSUEDO //
::selection {
  color: black;
  background-color: vars.$rose-op-low;
}
