//////////////////////////////////////////////

// VARIABLES - FONTS //

$font-primary: 'Quicksand', sans-serif;
$font-heading-italic: 'Feonie Italic', serif;
$font-heading: 'Feonie', serif;

// VARIABLES - COLORS //

$off-white: rgba(238, 238, 238, 1);
$off-white-op: rgba(238, 238, 238, 0.8);
$off-white-op-low: rgba(238, 238, 238, 0.1);

$sand: rgba(222, 212, 207, 1);
$sand-op: rgba(222, 212, 207, 0.5);
$sand-dark: rgb(177, 168, 163);

$rose: rgba(147, 61, 75, 1);
$rose-op: rgba(147, 61, 75, 0.4);
$rose-op-low: rgba(147, 61, 75, 0.2);
