@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes minimize {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes maximize {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@font-face {
  font-family: "Quicksand";
  src: url("../../src/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Feonie Italic";
  src: url("../../src/fonts/feonie-italic.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Feonie";
  src: url("../../src/fonts/feonie.otf") format("opentype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background: rgb(238, 238, 238);
  overflow-x: hidden;
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: justify;
}

nav {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 80px;
  height: 100%;
  padding: 12em 0;
  background: rgba(238, 238, 238, 0.8);
  box-shadow: -1px 0 10px rgb(36, 36, 36);
  z-index: 1000;
}
nav button {
  scale: 0.8;
  background: none;
  border: none;
  cursor: pointer;
}
nav button img {
  opacity: 0.55;
}
nav button:hover {
  scale: 1;
  transition: 0.3s;
}

nav:hover {
  padding-right: 1em;
  background: rgba(236, 240, 241, 0.65);
  transition: 0.3s;
}

#home {
  width: calc(100% - 80px);
  min-height: 100vh;
  background: rgb(238, 238, 238);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100em;
  background-image: url("../img/photos/lorem-background.jpg");
  background-size: cover;
  background-position: center;
}
#home h1 {
  font-family: "Feonie", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(238, 238, 238);
  text-shadow: 1px 1px 1px black;
  font-size: clamp(1rem, 20vw, 25rem);
}
#home .sub-heading {
  font-family: "Feonie", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(238, 238, 238);
  text-shadow: 1px 1px 1px black;
  margin-bottom: -0.15em;
  font-size: 3.5rem;
}
#home .chevron-scroll-down {
  position: absolute;
  bottom: 10%;
  padding: 0.2em;
}
#home .chevron-scroll-down:hover {
  background: rgba(238, 238, 238, 0.1);
  border-radius: 50%;
  box-shadow: 0 2px 10px rgb(152, 152, 152);
  transition: 0.5s;
  animation: levitate 2s ease-in-out infinite;
  cursor: pointer;
}

#about {
  width: calc(100% - 80px);
  min-height: 100vh;
  background: rgb(238, 238, 238);
  display: flex;
  gap: 2em;
}
#about .about__text {
  position: relative;
  min-width: 45vw;
  padding: 7em 0;
}
#about .about__text h2 {
  margin-left: 10vw;
  margin-bottom: 5vh;
  font-family: "Feonie", serif;
  font-size: 6rem;
  text-decoration: none;
  text-transform: uppercase;
}
#about .about__text .about__divider {
  position: relative;
  width: 100%;
  height: 0;
}
#about .about__text .about__divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25vw;
  border-top: 2px solid rgba(147, 61, 75, 0.4);
}
#about .about__text .paragraph-container {
  position: relative;
  margin: 12vh 10vw 0 12vw;
  padding-right: 4vw;
  border-right: 1px solid rgba(177, 168, 163, 0.5);
  z-index: 20;
}
#about .about__text .about__cube {
  position: absolute;
  bottom: 8.5%;
  left: 17%;
  width: 20%;
  height: 27%;
  background-color: rgb(222, 212, 207);
  z-index: 1;
}
#about .about__pictures {
  min-width: 55vw;
  padding-top: 6vw;
  padding-right: 5vw;
}
#about .about__pictures .about__img-1 {
  width: 85%;
  min-width: 85%;
}

#slideshow {
  width: calc(100% - 80px);
  min-height: 100vh;
  background: rgb(238, 238, 238);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background: rgba(222, 212, 207, 0.5);
}
#slideshow .pictures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-bottom: 1em;
}
#slideshow .pictures-container img {
  width: 27%;
  padding: 1% 0;
  z-index: 2;
  transition: transform 0.5s ease;
}
#slideshow .pictures__stripe {
  position: absolute;
  width: 82%;
  height: 7%;
  margin: auto;
  background: rgb(177, 168, 163);
  z-index: 1;
  opacity: 0.5;
}
#slideshow ul {
  position: absolute;
  bottom: 15%;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding: 1em 1.5em;
  list-style: none;
  border-top: 1px solid rgb(222, 212, 207);
}
#slideshow ul .dot-icon {
  transform: scale(0.8);
  opacity: 0.65;
  transition: transform 0.3s ease;
}
#slideshow ul .dot-icon:hover {
  transform: scale(1);
  opacity: 0.9;
  cursor: pointer;
}
#slideshow ul .dot-active {
  transform: scale(1);
  opacity: 0.9;
  cursor: pointer;
}

#menu {
  width: calc(100% - 80px);
  min-height: 100vh;
  background: rgb(238, 238, 238);
  position: relative;
  display: flex;
  align-items: center;
  min-width: 100vh;
  background: rgb(238, 238, 238);
}
#menu .menu-background {
  position: absolute;
  width: 100%;
  height: 35%;
  background: rgba(222, 212, 207, 0.5);
}
#menu .menu-wrapper {
  position: relative;
  display: flex;
  width: 40%;
  min-width: 40%;
  height: auto;
  min-height: 90vh;
  margin-left: 7%;
  padding: 3em 2em;
  background: rgba(177, 168, 163, 0.5);
  z-index: 1;
}
#menu .menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: fit-content;
  height: auto;
  min-height: 55vh;
  padding: 5% 2%;
  background: rgb(238, 238, 238);
}
#menu .menu-container .menu__header {
  display: flex;
  align-items: center;
  height: fit-content;
  margin-bottom: 1em;
}
#menu .menu-container .menu__header .menu__title {
  width: fit-content;
  font-family: "Feonie", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 2em 0 1em;
  padding-top: 0.5em;
  font-family: "Feonie", serif;
  border-top: 2.5px solid rgba(147, 61, 75, 0.1);
  border-bottom: 2.5px solid rgba(147, 61, 75, 0.1);
}
#menu .menu-container .menu__header .menu__title .menu__title-category {
  width: fit-content;
  font-family: "Feonie", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  font-size: clamp(2rem, 1vw, 1rem);
}
#menu .menu-container .menu__header .menu__title .menu__title-heading {
  font-size: clamp(4.5rem, 1vw, 2.5rem);
}
#menu .menu-container .menu__header .menu__description {
  margin-right: 1em;
  padding: 0 1em 1em 0.1em;
  font-size: 1rem;
}
#menu .menu-container .menu__content {
  height: 100%;
  display: flex;
  justify-content: center;
}
#menu .menu-container .menu__content .menu__slip {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 1.2em 1em;
  border: 0.3em solid rgba(147, 61, 75, 0.1);
  overflow-y: scroll;
  scrollbar-color: rgba(177, 168, 163, 0.5) rgba(222, 212, 207, 0.5);
}
#menu .menu-container .menu__content .menu__slip .menu__slip-heading {
  width: fit-content;
  height: fit-content;
  padding: 0 0.1em;
  font-family: "Feonie Italic", serif;
  text-transform: uppercase;
  margin: 0.1em 0.5em;
  padding: 0.1em;
  font-size: 1.6rem;
  background: rgba(147, 61, 75, 0.1);
  border-bottom: 0.1em solid rgba(147, 61, 75, 0.1);
}
#menu .menu-container .menu__content .menu__slip-divider {
  width: 0.1em;
  height: 100%;
  margin: 0.1em 0.5em;
}
#menu .dish-preview-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 50%;
  height: fit-content;
  margin-left: -7em;
  padding: 3% 0;
  border-right: 3em solid rgba(177, 168, 163, 0.5);
}
#menu .dish-preview-wrapper .dish-preview-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.1em;
  width: 35%;
  height: 100%;
  padding: 1em 0 1.5em 0;
}
#menu .dish-preview-wrapper .dish-preview-container .dish-preview__rectangle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-left: 60%;
  background: rgba(238, 238, 238, 0.8);
  border-right: none;
  z-index: 0;
}
#menu .dish-preview-wrapper .dish-preview-container .dish-preview__price {
  margin: 0 0.5em 0.4em 0;
  font-style: italic;
  font-size: 1.4rem;
  z-index: 10;
}
#menu .dish-preview-wrapper .dish-preview-container .dish-preview__text-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5em;
  width: 75%;
  margin-right: -2em;
}
#menu .dish-preview-wrapper .dish-preview-container .dish-preview__name {
  width: fit-content;
  height: fit-content;
  padding: 0 0.1em;
  font-family: "Feonie Italic", serif;
  text-transform: uppercase;
  position: relative;
  font-size: 3rem;
  background: rgb(229, 220, 222);
  border-bottom: 0.1em solid rgba(147, 61, 75, 0.1);
  z-index: 10;
}
#menu .dish-preview-wrapper .dish-preview-container .dish-preview__description {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.5em;
  font-size: 1em;
  text-align: left;
  font-style: italic;
  background: rgb(238, 238, 238);
  box-shadow: -3px 3px 0 rgba(147, 61, 75, 0.1);
  z-index: 10;
}
#menu .dish-preview-wrapper .dish-preview__img {
  position: relative;
  width: 65%;
  margin-right: -10em;
  z-index: 5;
}
#menu .dish-preview-wrapper .dish-preview__img img {
  width: 100%;
}
#menu .menu-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0.5em;
  display: none;
}
#menu .menu-card {
  width: 22vw;
  height: fit-content;
  max-height: 70vh;
  padding: 3em 2em;
  border: 1em solid rgba(147, 61, 75, 0.2);
  overflow-x: auto;
  scrollbar-color: rgba(177, 168, 163, 0.5) rgba(222, 212, 207, 0.5);
}
#menu .menu-card__title {
  width: fit-content;
  font-family: "Feonie", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 0.4em 0;
  font-size: 2.5rem;
  text-align: center;
  border-top: 2.5px solid rgb(222, 212, 207);
  border-bottom: 2.5px solid rgb(222, 212, 207);
}
#menu .menu-card__item {
  padding: 0.9em 0.5em;
  border-bottom: 2px dotted rgb(222, 212, 207);
}
#menu .menu-card__item .menu-card__item-title--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 0.5em;
  padding-bottom: -10em;
}
#menu .menu-card__item .menu-card__item-title--wrapper .menu-card__item-title {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
#menu .menu-card__item .menu-card__item-title--wrapper .menu-card__item-price {
  font-style: italic;
  border-bottom: 1px solid rgb(222, 212, 207);
}
#menu .menu-card__item .menu-card__item-description {
  display: block;
  padding-left: 0.5em;
  font-size: 1rem;
  text-decoration: italic;
}
#menu .menu-card__item:hover {
  background: rgba(147, 61, 75, 0.1);
  border-bottom: 2px dotted rgb(222, 212, 207);
  transition: background 0.3s ease;
  cursor: pointer;
}
#menu .menu-card__item:active {
  background: rgba(222, 212, 207, 0.8);
}
#menu .other-menus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 1.5em 2em;
  padding: 0.2em;
  background: rgb(222, 212, 207);
  cursor: pointer;
}
#menu .other-menus-container .other-menus__btn {
  width: fit-content;
  height: fit-content;
  padding: 0 0.1em;
  font-family: "Feonie Italic", serif;
  text-transform: uppercase;
  margin-right: 0.2em;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: inherit;
}
#menu .other-menus-container .other-menus__arrow-right {
  fill: black;
  cursor: inherit;
}
#menu .other-menus-container:hover {
  box-shadow: -2px 2px 0 rgba(147, 61, 75, 0.4);
  transition: box-shadow 0.3s ease;
}
#menu .other-menus-container:active {
  transform: scale(0.97);
  transition: transform 0.27s ease;
}

#contact {
  width: calc(100% - 80px);
  min-height: 100vh;
  background: rgb(238, 238, 238);
  display: flex;
  gap: 1em;
  padding: 5% 10% 0;
  padding-right: none;
}
#contact .contact-image {
  width: 50%;
  min-width: 50%;
  height: 100vh;
  min-height: 100vh;
  background: url("../../public/img/photos/contact-bg.jpg");
}
#contact .contact-content {
  width: 50%;
  min-width: 50%;
  padding: 10% 0 0 2%;
}
#contact .contact-content .contact-heading {
  width: fit-content;
  font-family: "Feonie", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding-bottom: 3%;
  font-size: 5rem;
}
#contact .contact-content .contact-info {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  height: fit-content;
  min-height: 60%;
  margin-left: -40%;
  padding: 2em;
  background: rgb(238, 238, 238);
  border: 1em solid rgba(222, 212, 207, 0.8);
}
#contact .contact-content .contact-info--section {
  width: 50%;
  border: 1px solid black;
}
#contact .contact-content .contact-info__table {
  margin: auto;
}
#contact .contact-content .contact-info__table-label {
  font-size: 1.3rem;
}
#contact .contact-content .contact-info__table-data {
  font-style: italic;
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: 30vh;
  min-height: 30vh;
  padding: 3em;
  background: rgb(177, 168, 163);
}
footer .footer__container {
  display: flex;
  gap: 3em;
}
footer .footer-section {
  width: 15%;
}

.scale-zero {
  transform: scale(0);
  opacity: 0;
}

.hidden {
  display: none;
}

.zero-opacity {
  opacity: 0;
}

.blur {
  transition: filter 0.3s ease;
}

.minimize {
  animation: minimize 0.4s ease 1 forwards;
}

.maximize {
  animation: maximize 0.4s ease 1 forwards;
}

::selection {
  color: black;
  background-color: rgba(147, 61, 75, 0.2);
}

/*# sourceMappingURL=styles.css.map */
