<div class="dish-preview-wrapper">
  <div class="dish-preview-container">
    <span class="dish-preview__price">${%MENU_ITEM_PRICE%}</span>
    <div class="dish-preview__text-container">
      <h2 class="dish-preview__name">{%MENU_ITEM_NAME%}</h2>
      <p class="dish-preview__description">{%MENU_ITEM_DESCRIPTION%}</p>
    </div>
    <span class="dish-preview__rectangle"></span>
  </div>
  <div class="dish-preview__img">
    <img src="{%MENU_ITEM_IMG%}" alt="{%MENU_ITEM_IMG_ALT%}" />
  </div>
</div>
